{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    <div class="div">

        {# {{dump(article)}} #}

        {% for myArticle in article %} 
            <h1>{{myArticle.title}}</h1>
            <p>{{myArticle.content}}</p>
        {% endfor %}

    </div>  
  

{% endblock %}
